.company{

    width:100%;
    background-image: url('images/background.jpg');
    height:250px;
    padding:50px;
    text-align: center;
    color:white;
    font-size: 40px;;
    font-family: 'Lobster', cursive;

    
}
.company1{
margin:50px;
font-family: 'Lobster', cursive;
}
.box{
    margin:50px;
    width: 400px;
}
.contribution{
    background-color:#1b4b1b;
    color: white;
    
}
.collection{
    width:100%;
    background-image: url('images/collection.jpg');
    height:250px;
    padding:50px;
    text-align: center;
    color:white;
}